<div class="trending-page">
  <div class="header">

    <div class="chart-toggle-wrapper">
      <button
        mat-raised-button
        color="primary"
        (click)="swapShowing()"
        style="margin: 10px;"
      >
        {{ showingTrending ? "Show normal feed" : "Show trending" }}
      </button>

      <span class="spacer"></span>

      <button
        class="chart-toggle-btn"
        (click)="toggleChart()"
        *ngIf="showingTrending"
      >
        Performance Chart
        <span class="arrow" [class.open]="showChart">v</span>
      </button>

      <div class="chart-dropdown" *ngIf="showChart">
        <app-performance-graph></app-performance-graph>
      </div>
    </div>

  </div>

  <div
    class="click-catcher"
    *ngIf="showChart"
    (click)="closeChart()"
  ></div>
</div>

<div style="display: flex; flex-wrap: wrap; gap: 32px; padding: 24px; background: var(--color-bg-main, #181818);">
	<div *ngFor="let video of videos">
		<app-video-card
      (click)="gotoVideo(video.id)"
      [thumbnailUrl]="video.thumbnailSafeUrl"
      [title]="video.title"
      [creator]="video.creator"
      [views]="video.views"
		></app-video-card>
	</div>
</div>
