.rating-container {
  display: inline-flex;
  align-items: center;
  background-color: #2b2b2b; 
  border-radius: 20px; 
  height: 45px;
  overflow: hidden; 
  border: 1px solid transparent;
  transition: background-color 0.2s;
}

.btn-like, .btn-dislike {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0 16px;
  height: 100%;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.2s;
}

.separator {
  width: 1px;
  height: 20px;
  background-color: #d9d9d9;
}

.btn-like:hover, .btn-dislike:hover {
  background-color: #858585;
}

.active mat-icon {
  font-variation-settings: 'FILL' 1;
}

span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}